body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
}

/***** ESTILOS GENERALES *****/
.btn-link-1 {
  width: 250px;
  display: inline-block;
  height: 70px;
  margin: 15px 5px;
  padding: 15px 28px 0px 28px;
  background: #FF8000;
  border: 0;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  color: #fff;
  border-radius: 20px;
  transition: all .3s;
}

.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active, .btn-link-1:active:focus,
.btn-link-1.btn-primary:not(:disabled):not(.disabled):active,
.btn-link-1.btn-primary:not(:disabled):not(.disabled):active:focus {
	background: #fff;
	outline: 0;
	color: #FF8000;
	box-shadow: none;
}

.btn-link-2 {
  width: 250px;
  display: inline-block;
  height: 70px;
  margin: 15px 5px;
  padding: 0px 28px 0px 28px;
  background: #FF8000;
  border: 0;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  color: #fff;
  border-radius: 20px;
  transition: all .3s;

}
.btn-link-2:hover, .btn-link-2:focus, .btn-link-2:active, .btn-link-2:active:focus,
.btn-link-2.btn-primary:not(:disabled):not(.disabled):active,
.btn-link-2.btn-primary:not(:disabled):not(.disabled):active:focus {
  background: #fff;
	outline: 0;
	color: #FF8000;
	box-shadow: none;
   border: 2px solid #FF8000;
}

.btn-link-3 {
  width: 200px;
  display: inline-block;
  height: 50px;
  margin: 15px 5px;
  padding: 15px 28px 0px 28px;
  background: #FF8000;
  border: 0;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  color: #fff;
  border-radius: 20px;
  transition: all .3s;

}
.btn-link-3:hover, .btn-link-3:focus, .btn-link-3:active, .btn-link-3:active:focus,
.btn-link-3.btn-primary:not(:disabled):not(.disabled):active,
.btn-link-3.btn-primary:not(:disabled):not(.disabled):active:focus {
  background: #fff;
	outline: 0;
	color: #FF8000;
	box-shadow: none;
   border: 2px solid #FF8000;
}

.shadows{
-webkit-box-shadow: 7px 7px 4px 0px rgba(218,236,245,0.56);
-moz-box-shadow: 7px 7px 4px 0px rgba(218,236,245,0.56);
box-shadow: 7px 7px 4px 0px rgba(218,236,245,0.56);
}

.btn-shadow{
  -webkit-box-shadow: 4px 4px 4px 0px rgba(218,236,245,0.56);
  -moz-box-shadow: 4px 4px 4px 0px rgba(218,236,245,0.56);
  box-shadow: 4px 4px 4px 0px rgba(218,236,245,0.56);
}

/***** MENU TELEFONO *****/
.navbar a{
  color: #087fc6;
  font-size: 33px;
}

.navbar .navbar-brand{
  width: 230px;
  background: url(../img/logo.svg) left center no-repeat;
  border: 0;
  text-indent: -99999px;
}

.navbar-dark { background: #fff;}
.navbar.navbar-no-bg { background: #fff;  }


/***** BARRA MENU *****/
.navbar-dark { background: #fff;}
.navbar.navbar-no-bg { background: #fff;  }
.navbar-dark .navbar-nav .nav-link { color: #087FC6; margin: 10px 5px;}
.navbar-dark .navbar-nav { font-size: 15px; color: #087FC6; font-weight: 00; }
.navbar-dark .navbar-nav .nav-link:hover { color: #00AEEF; }
.navbar-dark .navbar-nav .nav-link:focus { color: #FF8000; outline: 0; }
.navbar-expand-md .navbar-nav .nav-link { font-size: 20px; padding-left: 1.5rem; padding-right: 1.5rem; }

.navbar-brand {
	width: 300px;
  height: 60px;
  background: url(../img/logo.svg) left center no-repeat;
	border: 0;
	text-indent: -99999px;
}

.bars{
  background: url(../img/menu.png) left center no-repeat;
  border: 0;
  text-indent: -99999px;
}

/***** INICIO *****/
.home-container {
  background-color: #EBF5FC;
  background: url(../img/fondo-azul.png) left center no-repeat;
  background-size: cover;
}

.home-container h1 {
  margin-top: 0px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 60px;
  font-weight: 900;
  color: #FFF;
  line-height: 60px;
}

.home-container h2 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #087fc6;
  line-height: 50px;
}

.home-container h3 {
  margin-top: 0px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: #FFF;
  line-height: 50px;
}

/***** 2DA SECCION *****/
.fntWhite{
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  font-weight: 200;
  color: #fff;
  text-align: justify;
}

.fntOrange {
	color: #FF8000;
	font-size: 18px;
  font-weight: 600;
}

.fntBBlue {
	color: #045FB4;
	font-size: 15px;
  font-weight: 600;
}
.fntBlue {
	color: #045FB4;
	font-size: 14px;
  font-weight: 200;
}

.box-float{
  color: #FFF;
  position: absolute;
   left: 50px;
  bottom: -70px;
  height: 150px;
  width: 500px;
  z-index: 100;
  }

.box-container{
    line-height: 20px;
}
.align-box{
  line-height: 20px;
}
.align-content{
padding: 25px 20px 10px 10px;
text-align: right;
}

/***** COTIZADOR *****/
.Second-Section-container{
  font-family: 'Titillium Web', sans-serif;
  background-color: #97DAFE;
  background: url(../img/fondo_cielo.png) left center no-repeat;
  background-size: cover;
}

.Second-Section-container h1 {
  padding-top: 40px;
  margin-bottom: 30px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 60px;
  font-weight: 700;
  color: #fff;
  line-height: 50px;
}

.Second-Section-container h2 {
  margin-top: 0px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 50px;
  font-weight: 100;
  color: #087fc6;
  line-height: 50px;
}

/***** FORMULARIO *****/
.contacto-container{
background-color: #FFF;
}

.contacto-container h1 {
  margin-bottom:10.9285714285714284em;
  padding-top: 40px;
  margin-bottom: 60px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 60px;
  font-weight: 700;
  color: #087fc6;
  line-height: 0px;
}

  form{ font-family: 'Titillium Web', sans-serif; width: 100%; max-width:535px; background: none; margin: 0 auto; padding: 20px;}
  form label{display:  block;width: 100%; max-width: 340px;text-align: left;margin:0 auto; font-size: 14px;font-family: 'Titillium Web', sans-serif; font-weight: 300; color:#087fc6;}
  form input{ -webkit-transition: all 0.2s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;display: block; background:#A9E2F3; padding-left:20px;outline:none; border:none;color:#087fc6; width: 100%; max-width: 340px; height: 40px; margin:0 auto; border-radius: 30px; margin-bottom: 10px;}
  form textarea{padding-top:10px;-webkit-transition: all 0.2s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out; background:#A9E2F3; resize:none; display: block;  padding-left:20px;outline:none; border:none;color:#087fc6; width: 100%; max-width: 340px; height: 94px; border-radius: 15px; margin:0 auto; margin-bottom: 10px; }
  form input[type="submit"]{font-family: 'Titillium Web', sans-serif;font-size:18px;font-weight:300;display: block; padding-left:20px;outline:none; color:#fff; width: 40%; max-width: 340px; height: 56px; margin:0 auto; margin-bottom: 10px;background:#FF8000;border:none; border-radius: 40px;}
  form input:hover[type="submit"]{background:#fff; color:#FF8000; border: 2px solid #FF8000; }
  form input::placeholder { color: #045FB4;}
  form textarea::placeholder { color: #045FB4;}

  /***** ENVIADO *****/
  .enviado-container {
    background-color: #EBF5FC;
    background: url(../img/fondo_cielo.png) left center no-repeat;
    background-size: cover;
  }

  .enviado-container h1 {
    margin-top: 0px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 60px;
    font-weight: 900;
    color: #FFF;
    line-height: 60px;
  }

  .enviado-container h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #087fc6;
    line-height: 50px;
  }

/* STYLES */
  .sp05x,.sp1x,.sp2x,.sp3x,.sp4x,.sp5x,.sp6x,.sp7x,.sp8x,.sp9x,.sp10x,.sp20x,.sp30x,.sp40x,.sp50x,.sp60x{content:" ";display:inline-block;width:100%;font-size:1em;line-height:0;height:0;border:none;border:0;background-color:none}
  .sp05x{margin-bottom:0px}
  .sp2x{margin-bottom:.7857142857142857em}
  .sp3x{margin-bottom:1.1785714285714286em}
  .sp4x{margin-bottom:1.5714285714285714em}
  .sp5x{margin-bottom:1.9642857142857142em}
  .ssp5x{margin-bottom:1.9642857142857142em}
  .sp6x{margin-bottom:2.357142857142857em}
  .sp7x{margin-bottom:2.75em}
  .sp8x{margin-bottom:3.142857142857143em}
  .sp9x{margin-bottom:3.5357142857142856em}
  .sp10x{margin-bottom:3.9285714285714284em}
  .esp10x{margin-bottom:3.9285714285714284em}
  .essp10x{margin-bottom:3.9285714285714284em}
  .sp20x{margin-bottom:7.857142857142857em}
  .sp30x{margin-bottom:11.785714285714285em}
  .sp40x{margin-bottom:15.714285714285714em}
  .sp50x{margin-bottom:19.642857142857142em}
  .sp60x{margin-bottom:23.57142857142857em}

  .fnt14 {font-size: 14px;}
  .fnt15 {font-size: 15px;}
  .fnt16 {font-size: 16px;}
  .fnt17 {font-size: 17px;}
  .fnt18 {font-size: 18px;}
  .fnt19 {font-size: 19px;}
  .fnt20 {font-size: 20px;}
  .fnt21 {font-size: 21px;}
  .fnt22 {font-size: 22px;}
  .fnt23 {font-size: 23px;}
  .fnt24 {font-size: 24px;}
  .fnt24 {font-size: 24px;}
  .fnt25 {font-size: 25px;}
  .fnt26 {font-size: 26px;}
  .fnt27 {font-size: 27px;}
  .fnt28 {font-size: 28px;}
  .fnt29 {font-size: 29px;}
  .fnt30 {font-size: 30px;}
  .fnt31 {font-size: 31px;}
  .fnt32 {font-size: 32px;}
  .fnt33 {font-size: 33px;}
  .fnt34 {font-size: 34px;}
  .fnt35 {font-size: 35px;}
  .fnt36 {font-size: 36px;}
  .fnt37 {font-size: 37px;}
  .fnt38 {font-size: 38px;}
  .fnt39 {font-size: 39px;}
  .fnt40 {font-size: 40px;}
  .fnt50 {font-size: 50px;}
  .fnt60 {font-size: 60px;}
  .fnt70 {font-size: 70px;}
  .fnt80 {font-size: 80px;}
